<div class="heroContainer">
  <div class="card transparent z-depth-5 hero_overlay">
    <p>Discover the Architecture around you.</p>
    <a href="/explore" class="waves-effect waves-teal btn-flat" style="background-color: #ee6e73; color: #FFF">Explore</a>
  </div>

</div>



  <div class="discoveryContainer">
    <h5>Recently Discovered</h5>
      {{#each spots}}

      <div class="wrapper">
        <img class="responsive-img img" src="{{this.imgURL}}">
        <div class="img_overlay">
          <p>{{this.coordinates.lat}},  {{this.coordinates.lng}}</p>
        </div>
      </div>

<!--        <div class="row">
        <div class="col s12 m7">
          <div class="card small">
            <div class="card-image">
              <img src="{{this.imgURL}}">
              <span class="card-title">
                <p><span class="headings">Description: </span> {{this.description}}</p>
            <p><span class="headings">Category: </span> {{this.category}}</p>
            <p><span class="headings">Location: </span> {{this.coordinates.lat}},  {{this.coordinates.lng}}</p>
              </span>
            </div>
          </div>
        </div>
      </div> -->




        <!-- <div class="imgContainer" style="background-image: url({{this.imgURL}});"> -->
          <!-- <img class="recent_posting_img" src="{{this.imgURL}}"> -->

       <!--  </div> -->
                <!-- <img class="responsive-img" src="{{this.imgURL}}"> -->

      {{/each}}
  </div>
</div>
<script>
  $(document).ready( function() {
    $('.button-collapse').sideNav();
  })
</script>
