<div class="billboard">
      <div class="photograph">
        <img class="responsive-img" src="../public/assets/index_bg.jpg">
        <div class="billboard_content">
          <h5>Find the Architecture around you MtnSighed.</h5>
          <a href="/explore" class="waves-effect waves-teal btn-flat" style="background-color: #ee6e73; color: #FFF">Explore</a>
        </div>
      </div>
      <div class="discoveryContainer">
        <h3>Recently Discovered</h3>
        <div>
        {{#each spots}}
        <div class="card">
        <div class="card-image">
          <img src="{{this.imgURL}}">
          <i class="material-icons activator btn-floating halfway-fab waves-effect waves-light red edt_btn">edit</i>
        </div>
        <div class="card-content">
          <p><span class="headings">Description: </span> {{this.description}}</p>
          <p><span class="headings">Category: </span> {{this.category}}</p>
          <p><span class="headings">Location: </span> {{this.coordinates.lat}},  {{this.coordinates.lng}}</p>
        </div>
      </div>
        {{/each}}
        </div>
      </div>
</div>
<script>
      $(document).ready( function() {
        $('.button-collapse').sideNav();
      })
    </script>
