<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="container">
  <a href="/" class="waves-effect waves-light btn">Map</a>
  <a href="/addSpot" class="waves-effect waves-light btn">Add Spot</a>

  <h1>{{title}}</h1>

  {{#each items}}
    <div class="posting hoverable #efebe9 brown lighten-5">
      <div class="current_entry_data">
        <img src="{{this.imgURL}}" class="postingImg">
        <p><span class="headings">Description: </span> {{this.description}}</p>
        <p><span class="headings">Category: </span> {{this.category}}</p>
        <p><span class="headings">Location: </span> {{this.coordinates.lat}},  {{this.coordinates.lng}}</p>
        <div>
          <button class="deleteEntry">Remove</button>
          <p class="entryID" style="visibility: hidden">{{this._id}}</p>
        </div>
      </div>


        <form id="updateForm" action="/updateSpot" method="post" enctype="multipart/form-data">
          <div class="input">
        <label for="img">Image</label>
        <input type="file" name="myimg">
      </div>
      <div class="input">
        <label for="location">Location</label>
        <input type="text" placeholder="Enter Latitude" id="lat" name="lat">
        <input type="text" placeholder="Enter Longitude" id="lng" name="lng">
      </div>
      <div class="input">
        <label for="description">Description</label>
        <input type="text" id="description" name="description">
      </div>
      <div class="input-field col s12">
        <select id="categories" name="category">
          <option value="" disabled selected>Choose a category</option>
          <option value="A-Frame">A-Frame</option>
          <option value="Art Deco">Art Deco</option>
          <option value="Craftsman">Craftsman</option>
          <option value="Colonial">Colonial</option>
          <option value="Mid-Century Modern">Mid-Century Modern</option>
          <option value="Mediterranean">Mediterranean</option>
          <option value="Modern">Modern</option>
          <option value="Prairie">Prairie</option>
          <option value="Ranch">Ranch</option>
          <option value="Tudor">Tudor</option>
          <option value="Spanish">Spanish</option>
          <option value="Victorian">Victorian</option>
          <option value="Oriental">Oriental</option>
        </select>
      </div>
      <div class="input">
          <label for="_id">Id</label>
          <input type="text" id="id" name="_id" readonly value="{{this._id}}">
      </div>
      <button type="submit">Update</button>
        </form>
    </div>
  {{/each}}
  <script src="updateSpots.js"></script>
